@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  body{
    background-image: url(background.jpg);
  }

  .user {
    display: block;
    margin: 50px auto;
    width: 150px;
  }

  label{
    color: #0b8c1a;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
  }

  .user input {
    border: none;
    padding: 10px;
    margin: 5px;
  }

  .user ::placeholder {
    font-size: 10px;
    font-family: 'Roboto Mono', monospace;
  }

  .user button {
    border: 2px;
    color: #0b8c1a;  
    background-color: #ffffff; 
    width: 90px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
  }